.Main-Wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	transition: all 0.2s ease;
	-webkit-transform: translate3d(0%,0,0);
    -moz-transform: translate3d(0%,0,0);
    transform: translate3d(0%,0,0);
}

.M-Toggled {
	left: 0 !important;
	transition: 0s;
}

.W-Toggled {
	-webkit-transform: translate3d(80%,0,0);
    -moz-transform: translate3d(80%,0,0);
    transform: translate3d(80%,0,0);
    position: fixed;
    transition: all 0.3s ease;
}

.Head-logo {
	display: flex;
	justify-content: center;
	z-index: 2;
    background: white;
}

.Head-logo img {
	height: 10vh;
}

.HVHead Button:focus {
	outline: 0;
}

.HVHead {
	height: 10vh;
	position: relative;
}

.HVHead button {
    z-index: 1;
    cursor: pointer;
}

.Second-menu {
    display: flex;
    position: absolute;
    width: 100%;
    margin-left: -1rem;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    bottom: 0;
    z-index: 1;
    transition: 0.8s;
}

.SM-Down {
	bottom: -50px;
	transition: bottom 0.8s;
}

.Second-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.Second-menu ul li {
    display: inline-block;
}

.Second-menu ul li a {
    padding: 1rem;
    color: #222;
    font-size: 0.8em;
    font-weight: 500;
}

.HV-icon {
	display: inline-block;
    width: 1em;
    height: 1.5em;
    vertical-align: middle;
}

.HV-Shop-Button {
	margin-right: -25px;
}

.Mobile-Hype-Menu {
	position: fixed;
	height: 100%;
	width: 80vw;
	z-index: 1;
	top: 0;
	background-color: #fff;
	overflow: hidden;
	transition: 0.5s;
	border-right: 1px solid #EFEFEF;
}

.Nav-Wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Nav-Wrapper ul li {
	border-style: solid;
    border-width: 0 0 1px;
    border-color: #f2f2f2;
}

.Nav-Wrapper ul li a {
    padding: 1.2em 0;
    display: block;
    text-align: center;
    color: #222;
    font-weight: 500;
    font-size: 0.9rem;
}

.Slider-View {
    background: url(../images/Images/Home.jpg);
    height: 82vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Slider-Shop {
    background: url(../images/Images/Home.jpg);
    height: 62vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
	padding: 0;
}

.footer ul {
    flex-basis: 100%;
    justify-content: center;
}

.footer ul .nav-item {
    padding: 0.75rem;
    font-weight: 500;
    font-family: Roboto Condensed;
}

.footer ul .nav-item a {
    color: #222;
}

.About-logo {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.About-logo img {
    max-height: 65px;
}

.About-content {
    padding: 0 6em;
    text-align: center;
    font-family: Roboto condensed;
    margin-bottom: 6em;
    line-height: 1.7;
}

.Information-content {
    padding: 0 6em;
    text-align: center;
    font-family: Roboto condensed;
    margin-bottom: 6em;
    line-height: 1.7;
}

.Information-title {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.Information-title h3 {
    font-family: Roboto condensed;
    font-weight: 600;
}

.Return {
	text-align: center !important;
}

.Information-content .col-sm-12 {
	text-align: left;
}

.Small-title h3 {
    margin: 1.5em 0 1em;
    font-weight: 300;
    text-indent: 1rem;
}

.Small-title h3 {
	text-indent: 0;
}

.Blog-title {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background-color: #f1f1f1;
    border-bottom: 4px solid #eaeaea;
}

.Blog-title img {
    max-height: 65px;
}

.Blog-filter {
    font-family: "Roboto condensed";
    font-weight: 300;
    padding: 1em;
    overflow: auto;
}

.Blog-filter ul {
    padding: 0;
    text-align: center;
    margin: 0;
}

.Blog-filter ul li {
    display: inline-table;
}

.Blog-filter ul li a {
    display: block;
    padding: 5px 20px;
    color: #000;
}

.Blog-filter ul li a:hover {
	text-decoration: none;
	color: rgba(250, 204, 210, 1);
}

.Blog-filter ul li.active a {
    color: rgba(250, 204, 210, 1);
    font-weight: 400;
}

.Blog-content {
    text-align: center;
    padding: 3em 0;
}

.Blog-items {
    max-width: 300px;
    margin: 0 1em;
    display: inline-block;
}

.Blog-items a figure {
    max-height: 200px;
    overflow: hidden;
    margin: 0;
}

.Blog-items a figure img {
    width: 100%;
}

.Blog-items a {
    color: #3e3e3e;
}

.Blog-items a:hover {
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
}


.Blog-items a:hover figure img {
    filter: brightness(1.2);
    transition: 0.5s;
}

.Blog-P {
    padding: 1em;
    padding-bottom: 0;
    font-family: "Roboto condensed";
    font-size: 1.1em;
    font-weight: 500;
    height: 120px;
    overflow: hidden;
    margin-bottom: 1em;
    transition: 0.5s;
}

.Blog-P p {
    margin: 0;
}

.Blog-Loader {
    padding: 1em;
    text-align: center;
    font-family: "Roboto condensed";
    margin-bottom: 2em;
}

.Blog-Loader a {
    padding: 0.5em 2em;
    color: #222;
    font-size: 1.1em;
    font-weight: 400;
}

p.B-date {
    font-size: 0.7em;
}

.Shop-filter {
    font-family: "Roboto condensed";
    font-weight: 300;
    padding: 1em;
}

.Shop-filter ul {
    padding: 0;
    text-align: center;
    margin: 0;
    height: 45px;
}

.Shop-filter ul li {
    height: 35px;
    display: inline-table;
    min-width: 90px;
}

.Shop-filter ul li a {
    display: block;
    padding: 5px 20px;
    color: #000;
}

.Shop-filter ul li:hover {
    color: #0056b3;
    border-bottom: 2px solid #b9b9b9;
}

.Shop-filter ul li a:hover {
	text-decoration: none;
}

.Shop-filter ul li.active {
    border-bottom: 2px solid #b9b9b9;
}

.Shop-content {
    text-align: center;
    padding: 3em 0;
    background-color: #f7f7f7;
}

.Shop-items {
    max-width: 300px;
    margin: 0 1em;
    display: inline-block;
    font-family: "Roboto condensed";
    font-size: 1.1em;
    position: relative;
}

.Shop-items a {
	color: #000;
	text-decoration: none;
}

.Shop-items a figure {
	background-color: white;
    overflow: hidden;
    width: 300px;
    height: 400px;
    position: relative;
}

.Shop-items a figure img {
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.Shop-items:hover a figure img {
	filter: brightness(1.1);
	transition: filter 0.5s;
}

.Shop-item-new {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid #000;
    padding: 0 8px;
    font-family: "Roboto condensed";
    font-size: 14px;
}

.Shop-item-out {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid red;
    padding: 0 8px;
    font-family: "Roboto condensed";
    font-size: 14px;
    color: red;
}

.Shop-items p {
    margin: 0;
}

.Product-Qty {
    font-weight: 600;
    font-size: 1.2em;
}

.Shop-filter-res {
	text-align: center;
	font-family: "Roboto condensed";
    font-weight: 300;
    padding: 1em;
}

.Shop-filter-res button {
    background: none;
    color: #000;
    border: none;
    padding: 10px 14px;
}

.Shop-filter-res button:focus {
	outline: 1px solid #e3e3e3;
}

.Shop-filter-res .dropdown-menu {
	left: -70px !important;
	text-align: center;
}

.Shop-filter-res .dropdown-menu .dropdown-item {
	padding: 1rem 3.5rem;
}

.Shop-filter-2 {
	padding: 1em;
	text-align: center;
	font-family: "Roboto condensed";
}

.Shop-filter-2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.Shop-filter-2 ul li {
    display: inline-table;
}

.Shop-filter-2 ul li a {
    padding: 1em;
    color: #000;
    text-decoration: none;
}

.Shop-filter-2 ul li.active {
    border-bottom: 2px solid #52bfff;
}

.Shop-filter-2 ul li:hover {
    border-bottom: 2px solid #52bfff;
}

.Color-filter {
	margin-top: 1em;
}

.Color-filter ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Color-filter ul li {
    display: inline-block;
    padding: 1em;
}

.Color-filter ul li a {
	display: block;

}

.Color-filter ul li.active a .Color-pick {
	opacity: 1;
	border: 1px solid #222;
}

.Color-filter ul li a .Color-pick {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #e3e3e3;
    border: 1px solid #c7c7c7;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.Color-filter ul li a .Color-pick:hover {
	border: 1px solid #222;
	opacity: 1;
}

.C-Color {
    width: 40px;
    height: 40px;
    background: #4c49d0;
    border-radius: 100%;
}

.Shop-content.Shop-Color {
    padding-bottom: 1em;
}

.footer2 > h3 {
	display: block;
    width: 100%;
    text-align: center;
    padding: 1em 1em 0.5em;
    font-family: Roboto condensed;
    font-weight: 800;
    margin: 0;
}

.footer2 > p {
	display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    margin: 0;
}

.footer2-list {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 1em 0;
}

.Foot2-Sect1, .Foot2-Sect2, .Foot2-Sect3 {
    padding: 1em;
}

.Foot2-Sect1 form label, .Foot2-Sect1 form input {
    display: block;
}

.Foot2-Sect1 form label {
    font-size: 1.25rem;
    font-weight: 500;
}

.Foot2-Sect1 form input {
    padding: 5px;
    font-family: Roboto;
    font-weight: 300;
    width: calc(100% - 35px);
    height: 35px;
    float: left;
    border-color: #222;
    border: 1px solid;
}

.Foot2-Sect1 form button {
    height: 35px;
    width: 35px;
    float: left;
    background: #222;
    border: 1px solid #222;
}



.Foot2-Sect2 ul, .Foot2-Sect3 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Foot2-Sect2 ul li a, .Foot2-Sect3 ul li a{
	color: #222;
}

.Lookbook-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.Look-item {
    width: 33.33%;
    float: left;
}

.Look-item a {
    display: block;
}

.Look-item figure {
    margin: 0;
}

.Look-item img {
    width: 100%;
}

.Look-item:hover img {
	filter: opacity(0.7);
	transition: filter 0.4s;
}

.Shop-pop {
    position: absolute;
    width: 260px;
    height: 350px;
    background: white;
    top: 60px;
    left: 140px;
    z-index: 1000;
    border: 1px solid #cacaca;
    border-radius: 2px;
    box-shadow: 0px 0px 24px -5px #929292;
    font-family: Roboto condensed;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.Shop-pop > h5 {
    padding: 1em;
    margin: 0;
    text-align: center;
}

.Shop-pop h5 i {
    font-style: normal;
    font-weight: 700;
}

.Shop-pop > p {
    font-size: 0.7em;
    padding: 0em 2em 2em;
    font-family: roboto;
    max-height: 80px;
    overflow: hidden;
}

.Pop-content h5 {
    text-align: center;
    padding: 0 1em 1em;
    font-size: 0.8em;
    font-weight: 100;
    position: relative;
}

.Pop-content h5:after {
    content: "";
    border-bottom: 1px solid #c3c0c0;
    position: absolute;
    bottom: 7px;
    left: 20%;
    width: 60%;
}

.Pop-qty button {
    background: white;
    border: 1px solid;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.Pop-qty button:hover {
    background: black;
    color: white;
    transition: 0.3s;
}

.Pop-qty input {
    text-align: center;
    border: 0;
    width: 50px;
}

.Pop-qty input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
    margin: 0;
}

.Pop-Sze {
	padding: 1em;
}

.Pop-Sze .Sze-btn {
    width: 32px;
    height: 32px;
    background: white;
    border: 1px solid;
    cursor: pointer;
    margin: 0 5px;
}

.Pop-Sze .Sze-btn:hover {
    background: black;
    color: white;
    transition: 0.3s;
}

.SB-active {
	background-color: black !important;
	color: white !important;
}

.Pop-foot h5 {
    font-size: 0.5em;
    font-family: roboto;
}

.Available {
	color: green;
}

.Not-Available {
	color: red;
}

.Pop-add-btn {
    background: white;
    border: 1px solid;
    font-size: 0.8em;
    padding: 6px 13px;
    cursor: pointer;
}

.Pop-add-btn:hover {
    background: black;
    color: white;
    transition: 0.3s;
}

.Shop-items:hover .Shop-pop {
	visibility: visible;
	opacity: 1;
}

.Floating-cart {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 200px;
    height: 50px;
    background: black;
    border-radius: 2px;
    font-family: Roboto condensed;
    font-size: 1em;
    transition: 1s;
    z-index: 100000;
}

.Floating-cart a {
    color: white;
    display: block;
    height: 100%;
    cursor: pointer;
}

.Floating-cart p {
    margin: 0;
    display: inline-block;
    padding: 12.5px;
    font-weight: 300;
}

.Floating-cart p i {
	margin-right: 5px;
}

.Floating-cart p:last-child {
    float: right;
    padding-right: 20px;
    font-weight: 600;
}

.Detail-galery, .Detail-Specs, .Detail-Descrip {
	width: 50%;
	float: left;
	font-family: "Roboto condensed";
	padding: 1em;
}

.Detail-Specs h2 {
	font-weight: 600;
	margin: 0 0 0.7em;
}

.Detail-Specs h3 {
	margin: 0 0 0.7em;
}

.Detail-Specs p {
	
}

.form-item {
	display: flex;
	align-items: center;
	margin: 1.5em 0;
}

.form-item select, .form-item input {
	width: 100px;
}

.Specs-box form .form-item label {
	margin: 0;
    margin-right: 20px;
}

.form-item .Specs-colors {
    display: inline-block;
}

.Specs-colors ul {
	display: flex;
    padding: 0;
    margin: 0;
}

.Specs-colors ul li {
    display: inline-block;
    margin-left: 10px;
}

.Specs-colors ul li a {
	display: block;
}

.Specs-colors ul li a .Color-pick {
	width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #e3e3e3;
    border: 1px solid #c7c7c7;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.Specs-colors ul li a .Color-pick .C-Color {
    width: 22px;
    height: 22px;
    background: #4c49d0;
    border-radius: 100%;
}

.Specs-colors ul li.active a .Color-pick {
	border: 1px solid #222;
	opacity: 1;
}

.Specs-colors ul li a .Color-pick:hover {
	border: 1px solid #222;
	opacity: 1;
}

.Specs-Bnt {
    margin: 2em 0 0;
}

.Specs-Bnt button {
    border: none;
    padding: 8px 20px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 2px;
}

.Specs-Bnt #Add {
    background: #222;
    color: white;
}

.Specs-Bnt #Add:hover {
	
}

.Specs-Bnt #Share {
	background: #e3e3e3;
	color: black;
}

.Specs-Bnt #Share:hover {
	background: #222;
	color: white;
	transition: 0.3s;
}

.Detail-Descrip h3 {
    font-weight: 400;
    margin: 0.7em 0;
}

.Detail-Descrip ul {
	text-align: left;
}

.Detail-content {
    max-width: 1000px;
    margin: 1em auto 3em;
    display: flex;
    flex-wrap: wrap;
}

.preview-thumbnail {
    padding: 0.5em 0;
    border: none;
}

.preview-thumbnail li {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 1%;
}

.preview-thumbnail li a {
    width: 100%;
    height: 100%;
    display: block;
}

.preview-thumbnail li a:hover img {
    filter: opacity(0.7);
    transition: 0.5s;
}

.preview-thumbnail li a img {
	width: 100%;
}

.Preview-pic {
    overflow: hidden;
    height: 460px;
    max-height: 460px;
}

.Preview-pic img {
    width: 100%;
}

.Detailblog-content {
    max-width: 720px;
    margin: 4em auto;
    font-family: "Roboto condensed";
    padding: 1em;
}

.Detailblog-content h2 {
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.4em;
    letter-spacing: 3px;
    line-height: 1.3em;
}

.Detailblog-content > h2::after {
    content: "";
    height: 2px;
    width: 3em;
    display: block;
    background: #454545;
    margin: 0.5em auto 1.5em;
}

.Detailblog-content h3 {
    font-size: 0.9em;
    text-align: center;
    color: #949494;
    font-weight: 300;
    font-family: Roboto;
    margin-bottom: 2.2em;
}

.blog-p {
    font-size: 1.1em;
    line-height: 2em;
    font-weight: 400;
    word-wrap: break-word;
    color: rgba(35,35,35,.7);
}

.blog-p p {
    margin-bottom: 1.5em;
}

.blog-p h2 {
    text-align: left;
    color: #2d2d2d;
    font-size: 1.2em;
    margin-bottom: 0.7em;
    margin-top: 2em;
}

.Post-meta {
    padding: 1em;
    text-align: center;
    color: #868686;
}

.Post-meta span {
    margin: 0 5px;
}

.Post-meta a {
    color: #868686;
}

.Post-meta a:hover {
    color: #222;
    text-decoration: none;
    transition: 0.5s;
}

.Pagination {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2em;
}

.Pagination p {
    width: 100%;
    color: #383838;
}

.next-article {
    width: 100%;
    display: inline-block;
    padding: 1em;
    background-color: #f3f3f3;
}

.next-article:hover {
	background-color: white;
	transition: 0.5s;
}

.next-article a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333333;
    text-transform: uppercase;
    font-weight: 500;
}

.next-article a strong {
    width: 100%;
    color: #8a8a8a;
    font-weight: 400;
    text-transform: none;
}

.Free-ship {
    padding: 4em 1em 2em;
    text-align: center;
    background-color: #f3f3f3;
}

.Free-ship h2 {
    font-size: 1em;
}

.Shipping-block {
    width: 50%;
    background: white;
    border: 1px solid;
    height: 20px;
    display: inline-block;
    margin: 1em;
}

.Full-meter {
    display: block;
    background: rgba(250, 204, 210, 1);
    width: 50%;
    height: 100%;
}

.Cart-content {
	background-color: #f3f3f3;
	padding: 1em;
}

.Cart-display {
	max-width: 1000px;
	margin: 0 auto;
}

.Cart-head {
	display: flex;
}

.Cart-head div {
    padding: 0.4em;
    text-align: center;
}

.Cart-head .Descript-cart-head {
	width: 70%;
	text-align: left;
	padding: 0.4em 1em;
}

.Quantity-cart-head {
	width: 15%;
}

.Price-cart-head {
	width: 15%;
}

.Cart-item {
	background-color: white;
	height: 125px;
	display: flex;
	margin-bottom: 0.5em;
}

.Cart-item:hover {
    box-shadow: 0px 0px 14px 0px #cecece;
    transition: 0.5s;
}

.Cart-item div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cart-item .Closing-cart-item {
	width: 10%;
}

.Cart-item .Closing-cart-item a {
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.Cart-item .Closing-cart-item a:hover {
    text-decoration: none;
    transform: scale(1.5);
    color: red;
    transition: 0.3s;
}

.Cart-item .Description-cart-item {
	width: 60%;
	display: flex;
    align-items: center;
    justify-content: left;
}

.Description-cart-item figure {
    height: 80%;
    width: 100px;
    margin: 0;
    overflow: hidden;
}

.Description-cart-item figure img {
    width: 100%;
}

.Cart-item:hover .Description-cart-item figure img {
    filter: opacity(0.8);
    transition: 0.5s;
}

.Description-cart-box {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 1em;
}

.Description-cart-box h2, .Description-cart-box p {
    width: 100%;
    margin: 0;
}

.Description-cart-box .DCart-name {
    font-size: 1.5em;
    font-weight: 600;
}

.Description-cart-box .DCart-size {
	font-size: 1em;
}

.Cart-item .Quantity-cart-item {
    width: 15%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Quantity-cart-item input, .Quantity-cart-item select {
    width: 60%;
    height: 30px;
    border: 1px solid;
}

.Quantity-cart-item input {
    margin-bottom: -50px;
    padding-left: 0.5em;
}

.Cart-item .Price-cart-item {
	width: 15%;
}

.Cart-total {
    display: flex;
    padding: 2em;
    justify-content: flex-end;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

.Cart-total button {
    border: none;
    padding: 8px 20px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 2px;
}

.Cart-total #Check {
    background: #222;
    color: white;
}

.Cart-total p:last-child {
    width: 100%;
    text-align: right;
    padding: 1em;
}

.Cart-total p, .Cart-total button {
    margin: 0;
}

.Cart-total p:first-child {
    margin-right: 1em;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.Cart-total p:first-child strong {
    margin-left: 1em;
}




















@media (max-width: 767px) {
	.Shipping-block {
    	width: 90%;
	}
	.Floating-cart {
	    position: fixed;
	    right: 10%;
	    width: 80%;
	}
	.Detailblog-content h2 {
		font-size: 1.8em;
		letter-spacing: 2px;
	}
	.Detailblog-content {
		padding: 2em;
	}
	.Specs-Bnt {
    	margin-top: 2em;
	}
	.Detail-galery, .Detail-Specs, .Detail-Descrip {
		width: 100%;
		text-align: center;
		padding: 2em;
	}
	.form-item {
		display: block;
		margin: 1em 0;
	}
	.Specs-box form  .form-item label {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.Shop-pop {
		display: none;
	}
	.Look-item {
		width: 100%;
	}
	.Second-menu {
		display: none;
	}
	.footer2-list {
		flex-wrap: wrap;
	}

	.Foot2-Sect1, .Foot2-Sect2, .Foot2-Sect3 {
		text-align: center;
		width: 100%;
	}
	.Shop-filter-2 ul {
		overflow-x: scroll;
		display: flex;
	}
	.Head-logo {
		flex-basis: 50%;
	}
	#Desktop-Toggle {
		display: none;
	}
	.footer {
		border-top: 1px solid #f2f2f2;
	}
	.footer ul .nav-item {
		text-align: center;
		border-bottom: 1px solid #f2f2f2;
	}
	.Slider-View {
		height: 90vh;
	}
	.About-content {
		padding: 0 2em;
	}
	.Information-content {
		padding: 0 2em;
	}
	.Blog-filter ul {
		/*text-align: left;*/
	}
	.Blog-filter ul li {
    margin-bottom: 1em;
	}
	.Shop-filter ul {
		overflow-x: scroll;
    	display: flex;
	}
	.Shop-filter {
		display: none;
	}
}

@media (min-width: 768px) {
	.Shop-filter-res {
		display: none;
	}
	.Mobile-Hype-Menu {
		display: none;
	}
	#Mobile-Toggle {
		display: none;
	}
	.footer {
		height: 8vh;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.Head-logo {
		flex-basis: 80%;
	}
}

@media (min-width: 992px) {
	.HV-MButton {
		display: flex !important;
	}
}